.adventuresContainer {
  position: relative;
}

[adventures-text]::before {
  content: attr(adventures-text);
  position: absolute;
  top: 12px;
  left: -40px;
}

.adventures {
  padding-left: 80px;
  display: flex;
  gap: 200px;
}

.heading {
  font-weight: bold;
  font-size: 5vmin;
}

.experiments,
.work {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.heading2 {
  font-weight: bold;
  font-size: 2.5vmin;
  margin-top: 15px;
}

.subtitle {
  font-weight: bold;
  font-size: 2vmin;
}

.adventureLink {
  font-size: 2.5vmin;
}

@media screen and (max-width: 768px) {
  .adventures {
    flex-direction: column;
    gap: 60px;
  }
  [adventures-text]::before {
    top: 2px;
    left: -20px;
  }
  .heading2 {
    font-size: 3vmin;
  }

  .subtitle {
    font-size: 2.5vmin;
  }

  .adventureLink {
    font-size: 3vmin;
  }
}
