.App {
  display: flex;
  flex-wrap: wrap;
}

.leftSide {
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 200px;
  width: 60%;
}

.rightSide {
  position: fixed;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  right: 0;
}

.faucetAnimation img {
  height: 99vh;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  text-align: end;
  width: 250px;
  left: 50%;
}

.footerLinks a {
  font-size: 3.5vmin;
}

.title {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .App {
    gap: 100px;
  }
  .leftSide {
    padding-left: 20px;
    gap: 100px;
    width: 100%;
  }

  .rightSide {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    right: auto;
  }

  .faucetAnimation img {
    display: none;
  }
  .footerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    text-align: end;
    width: 100%;
    left: 15%;
  }
}
