*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Executive";
  src: local("ExecutiveRegular"),
    url("./fonts/Executive-55Regular.otf") format("truetype");
  font-weight: normal;
}

body {
  font-family: "Executive";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333132;
  color: #ebebea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  font-size: 4vmin;
  color: inherit;
  font-weight: lighter;
}

a:hover,
a:focus {
  color: #fccd03;
  border-bottom: 1px solid #fccd03;
}
